<div class= "btn btn-secondary" %>
	<%= video_tag video_post.uploaded_video_url, :size => "320x240", :controls => true %>
	<br>
	<div class="row">
		<div class="col">
			<p>
				<%video_post.tag_list.each do |tag|%>
					#<%= tag%>
				<%end%>
			</p>
		</div>
	</div>
	<%= link_to 'Open', video_post, class: "btn btn-secondary" %>
</div>