<nav class="navbar  navbar-light bg-faded">
	<%= link_to 'Small-Vids', root_path, class: "navbar-brand mr-auto"%>
	<div class="justify-content-end" id="navbarToggler">
	  <form>
	    <%= render 'shared/nav_links' %>
		</form>
	</div>
</nav>