<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
  	<span class="navbar-toggler-icon"></span>
  </button>
	<%= link_to 'Small-Vids', root_path, class: "navbar-brand mr-auto"%>
	<div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
	  <form>
	    <%= render 'shared/nav_links' %>
		</form>
	</div>
</nav>