<div class="row">
	<%= link_to "New Message", new_message_path, remote: true, class: "btn btn-primary btn-sm float-xs-right" %>
</div>
<br>
<div class="list-group row">
	<% @messages.order(created_at: :desc).each do |message| %>
		<%= link_to message, remote: true, class: "list-group-item list-group-item-action" do %>
			<h6><%= message.subject %></h6>
			<p class="no-margin"><%= truncate(message.content, :length => 80) %></p>
		<%end%>
	<%end%>
</div>
