<div class="container">
	<div class="row">
		<%= render 'authorize/messages/sidebar_message'%>
		<div class="col-5 offset-md-1">
			<div class="list-group row">
				<%= render @messages.order(created_at: :desc) %>
			</div>
		</div>
	</div>
</div>