<div class="container">
	<div class="row">
		<%= render 'authorize/messages/sidebar_message'%>
		<div class="col-8">
			<div class="list-group row" id="show_messages">
				<%= render @messages %>
			</div>
		</div>
	</div>
</div>